/* Global Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: black;
  background-color: #12343b;
}

/* Flexbox */
body html {
  height: 100%;
  margin: 0;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* - for later
Sand Tan: #e1b382
Sand Tan Shadow: #c89666
Night Blue: #2d545e
Night Blue Shadow: #12343b */

/* Page Header */
#header {
  font-family:monospace;
  font-size: 40px;
  text-align: center;
  background-color: #12343b;
  color: #dfc7ad;
  margin: auto;
  padding: 20px;
}

/* Main form dataTables */
.dataTables {
  background-color: #c89666;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 8px;
  max-width: 90%;
}

/* Submit Button */
#submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  width: 15%;
  justify-self: right;
  margin-top: 10px;
  font-size: 16px;
}

/* Table */
table {
  width: 100%;
  text-align: left;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 2.15em;
}
th,
td {
  padding: 0.5em;
  min-width: 3.5em;
}
thead tr {
  background-color: #12343b;
  color: #fcfcfc;
}

tbody tr:nth-child(odd) {
  background-color: #dcdcdc;
}

tbody tr:nth-child(even) {
  background-color: #2d545e;
  color: white;
}

/* custom table formatting for 5th and last row */
table td:last-child {
  text-align: center;
}

table td:nth-child(5) {
  text-align: right;
}

/* Form Elements */
input {
  padding: 0.5em;
  width: 150px;
  background: #e1c6ac;
  border: 1px solid #2d545e;
  border-radius: 4px;
}
button {
  padding: 0.5em;
  width: 85px;
  background-color: #e8dcd1;
  border-radius: 4px;
}

#monthly-total {
  text-align: right;
}

/* If salary is over 20K */
.high-monthly-total {
  text-align: right;
  background-color: rgb(120, 5, 5);
  color: white;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid black;
}
